<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[[${board.title}]]</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/slide.css"/>
    <style>
      .mySlides.fade:not(.show) { opacity: 1 !important; }
    </style>
  </head>
  <body>
  <main>
    <div class="container">
      <div class="container-lg text-center">　 </div>
      <div class="container-lg text-center">　 </div>
      <div class="container-lg text-center">
        <div class=" slideshow-container">
          <th:block th:if="${board.img == null || board.img.size() == 0}">
            <div class="mySlides fade">
              <div class="numbertext">1 / 1</div>
              <img src="/upload/default.jpg" style="width:500px; height:500px;"/>
              <div class="text">Caption Text</div>
            </div>
          </th:block>
          <div th:each="filename, status:${board.img}" class="mySlides fade">
            <div class="numbertext">[[${status.count}]] / [[${status.size}]]</div>
            <img th:src="@{/upload/{name}(name=${filename})}" style="width:500px; height:500px;"/>
          </div>

          <!-- Next and previous buttons -->
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>

          <!-- The dots/circles -->
          <div style="text-align: center; margin-top:-50px;">
            <span th:each="cnt: ${board.img}" class="dot"></span>
          </div>
        </div>
      </div>

      <div class="container-lg text-left">
        <h2 class="mt-4">[[${board.title}]]</h2>
      </div>

      <div class="container-md themed-container text-center" >
        <div class="col-md-12 ">
          <div class="row">
            <div th:if="${board.onsale == 0}" class="col-sm-4 btn btn-secondary disabled">판매 완료</div>
            <div th:if="${board.onsale == 1}" class="col-sm-4 btn btn-primary disabled">판매중</div>
            <div th:if="${board.onsale == 2}" class="col-sm-4 btn btn-warning disabled">예약중</div>
            <div class="col-md-4 ">
              <strong>[[${board.price}]] 원</strong>
            </div>
            <div class="col-md-4 ">
              <strong>[[${board.categoryStr}]]</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="container-lg text-left">
        <div class="col-md-12 " style="margin-bottom: 50px">
          <pre>[[${board.content}]]</pre>
        </div>
      </div>
      <div class="col-md-12" >
        <a href="/board/list" class="btn btn-outline-primary">목록</a>
        <th:block th:if="${isMine}">
          <input type="button" class="btn btn-outline-secondary" value="수정" id="updateItem"/>
          <input type="button" class="btn btn-outline-danger" value="삭제" id="deleteItem"/>
        </th:block>
      </div>
    </div>
    <hr/>

    <div th:replace="~{/view/comment/comment :: commentParam(${commentList}, ${board.boardidx}, ${useridx})}"></div>

  </main>
  </body>
  <th:block th:if="${msg != null}">
    <script>
      alert("[[${msg}]]");
      location.href='/board/1/'+[[${board.boardidx}]];
    </script>
  </th:block>
  <script>
    let slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
    }
    document.addEventListener('DOMContentLoaded', () => {
      const updateItem = document.querySelector('#updateItem');
      const deleteItem = document.querySelector('#deleteItem');
      if(updateItem != undefined) {
        updateItem.addEventListener('click', (event) => {
          location.href = '/board/2/' + [[${board.boardidx}]];
        });
      }
      if(deleteItem != undefined) {
        deleteItem.addEventListener('click', (event) => {
          if (!confirm('게시글을 삭제 하시겠습니까?\r\n삭제한 게시글은 복구할 수 없습니다.')) return;
          axios.delete('/board/' + [[${board.boardidx}]])
                  .then(function (response) {
                    if (response.data != '')
                      location.href = response.data;
                    else
                      alert('게시글 삭제 실패!');
                  });
        });
      }
    });
  </script>
</html>
