<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comment</title>
</head>
<style>
  .edit-btn {
    max-width: 50px;
    max-height: 37px;
    font-size: 5px;
  }
  .delete-btn {
    max-width: 50px;
    max-height: 37px;
    font-size: 5px;
  }
  .comment-row {
    padding:20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
</style>

<body>
  <main th:fragment="commentParam(commentList, boardidx, useridx)">
    <div id="commentListDiv" class="container-sm">
      <div th:each="comment : ${commentList}">
        <div class="col-sm-12" th:id="${'row-'+comment.commentidx}">
          <div class="comment-row row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <strong th:text="${comment.nickname}"></strong>
              <small th:text="${comment.writedate}"></small>
              <th:block th:if="${comment.useridx == useridx}">
                <div name="edit-btn">
                  <a class="edit-btn btn btn-outline-secondary" th:onclick="showEditModal([[${comment.commentidx}]])">수정</a>
                </div>
                <div name="del-btn">
                  <a class="delete-btn btn btn-outline-danger" th:onclick="deleteComment([[${comment.commentidx}]])">삭제</a>
                </div>
              </th:block>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <p class="card-text" id="content" th:text="${comment.content}"/>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-lg" style="margin-bottom: 50px;">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <input type="hidden" id="lastCommentIdx" th:value="${commentList != null && commentList.size() != 0 ? commentList[commentList.size()-1].commentidx : 0}"/>
            <input type="button" id="nextComment" class="btn btn-outline-secondary" style="min-width: 100%" value="▼"/>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>

    <div class="container-lg">
      <div name="item" class="row mb-3 text-center row-item">
        <div class="col-sm-2 text-sm-end">
          <div class="row">
            <small><label id="commentByte">0</label></small>
          </div>
        </div>
        <div class="col-sm-8">
          <textarea class="form-control" name="commentText" id="commentText" placeholder="댓글 내용을 입력하세요." style="resize: none; width:100%"></textarea>
        </div>
        <div class="col-sm-1">
          <input type="button" id="commentSubmit" class="btn btn-outline-secondary" style="min-width: 100%; min-height: 100%" value="작성">
        </div>
        <input type="hidden" th:value="${boardidx}" id="boardIdx"/>
      </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="commentEditModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">댓글 수정</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label class="form-label">닉네임</label>
              <input type="text" class="form-control" id="commentName" readonly>
              <input type="hidden" class="form-control"> <!-- 서버로 보낼 data(idx) -->
              <input type="hidden" id="recommentidx">
            </div>
            <div class="mb-3">
              <label class="form-label">내용</label>
              <textarea class="form-control" rows="3" id="recontent"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="btn_edit" class="btn btn-primary">수정 완료</button>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/textLenCheck.js"></script>
    <script src="/js/comment.js"></script>


  </main>

</body>

</html>