<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comment</title>
</head>
<style>
  .delete-btn {
    max-width: 50px;
    max-height: 37px;
    font-size: 5px;
  }
  .comment-row {
    padding:20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
</style>

<body>

  <main th:fragment="commentParam(p)">

    <div id="commentListDiv" class="container-sm">
      <div th:each="comment : ${commentList}">
        <div class="col-sm-12" id="row-${comment.commentidx}">
          <div class="comment-row row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <strong>[[${comment.nickname}]]</strong>
              <small>[[${comment.writedate}]]</small>
              <!--<div th:if="${item.userIdx == loginInfo.userIdx}">
                <a th:if="${loginInfo.userIdx == comment.userIdx}"><input type="button" value="삭제" class="delete-btn btn btn-outline-danger" onclick="deleteComment(${comment.commentIdx})"></a>
              </div>-->
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <p class="card-text">[[${comment.content}]]</p>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-lg" style="margin-bottom: 50px;">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <input type="hidden" id="lastCommentIdx" value="${commentList.size() != 0 ? commentList[commentList.size()-1].commentidx : 0}"/>
            <input type="button" id="nextComment" class="btn btn-outline-secondary" style="min-width: 100%" value="▼"/>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>

    <div class="container-lg">
      <div name="item" class="row mb-3 text-center row-item">
        <div class="col-sm-2 text-sm-end">
          <div class="row">
            <!--<strong>${loginInfo.nickname}</strong>-->
            <small><label id="commentByte">0</label></small>
          </div>
        </div>
        <div class="col-sm-8">
          <textarea class="form-control" name="commentText" id="commentText" placeholder="댓글 내용을 입력하세요." style="resize: none; width:100%"></textarea>
        </div>
        <div class="col-sm-1">
          <input type="button" id="commentSubmit" class="btn btn-outline-secondary" style="min-width: 100%; min-height: 100%" value="작성">
        </div>
        <input type="hidden" th:value="${p}" id="boardIdx"/>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous">
    </script>

    <script src="/js/comment.js"></script>


  </main>

</body>

</html>