<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Page</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/mypage.css" rel="stylesheet">

</head>
<body>

  <div class="main-div mb-2 col-md-12 mx-auto p-5">
      <h1 class="mb-3 fw-normal">내 정보 보기</h1>
          <div>
              <div class="mydiv mb-3">
                  <label class="form-label mt-3">내 가입날짜</label>
                  <input type="text" id="joinDate" name="joinDate" th:value="${joindate}" readonly>
              </div>
              <div class="mydiv mb-3">
                  <label for="userId" class="form-label mt-3">아이디</label>
                  <input type="text"id="userId" name="userId"  th:value="${username}" readonly>
              </div>
              <div class="mydiv mb-3">
                  <label for="nickname" class="form-label mt-3">닉네임</label>
                  <input type="text" id="nickname" name="nickname"  th:value="${nickname}" readonly>
              </div>
              <div class="mydiv mb-3">
                  <label for="location" class="form-label mt-3">지역</label>
                  <input type="text" id="location" name="location"  th:value="${location}" readonly>
              </div>
          </div>

          <div class="w-100 mb-3 p-3">
              <div class="text-end d-grid gap-2 mb-3">
                  <a  class="btn btn-primary" th:href="@{/user/myboard}">내가 남긴 게시글</a>
              </div>
              <div class="text-end d-grid gap-2 mb-3">
                  <a class="btn btn-primary" th:href="@{/user/mycomment}" >내가 남긴 댓글</a>
              </div>
              <div class="text-end d-grid gap-2 mb-3">
                  <a class="btn btn-success" th:href="@{/}" >메인 화면으로</a>
              </div>
          </div>
  </div>


</body>
</html>