<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Index</title>
  </head>
  <body>
    <h1>너랑나랑 너랑나랑</h1>

    <div sec:authorize="!isAuthenticated()">
      <div>
        <a th:href="@{/register}">회원 가입</a>
      </div>
      <div>
        <a th:href="@{/login}">로그인</a>
      </div>
    </div>

    <div sec:authorize="isAuthenticated()">
      <div>
        <a th:href="@{/mypage}">마이 페이지</a>
      </div>
      <div>
        <a th:href="@{/board/list}">list</a>
      </div>
      <div>
        <a  th:href="@{/board}">게시글 바로 작성하기</a>
      </div>
    </div>

  </body>
</html>